$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px
);
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,800|Roboto:400,700,900');

//font-family: 'Roboto', sans-serif;
//font-family: 'Raleway', sans-serif;

